<!DOCTYPE html>
<html lang="en">
    <head>
        <title><!-- %%% SITE_TITLE %%% --> - writar</title>

        <meta name="description" content="<!-- %%% SITE_DESCRIPTION %%% -->">
        <meta name="og:title" content="<!-- %%% SITE_TITLE %%% --> - markski" />
        <meta property="og:description" content="<!-- %%% SITE_DESCRIPTION %%% -->" />

        <style id="writar_style">
            <!-- %%% STYLE_SHEET %%% -->
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <div style="float: left; margin-left: 2rem">
                <a href='../panel' hx-post='../panel' hx-push-url='true' hx-target='main' style="text-decoration: none"><h1>writar</h1></a>
            </div>
            <div style="float: right; margin-top: 1rem; margin-right: 2rem;">
                <p><small><a href="#" hx-post="../action/switch.php" hx-target="#writar_style">dark/light mode</a></small></p>
            </div>
            <div style="clear: both;"></div>
        </header>
        <main>
            <!-- %%% SITE_CONTENT %%% -->
        </main>
        <footer>

            <p><small>writar - 2023 - <a href="https://markski.ar">markski</a><br>contact, abuse report, etc: <a href="mailto:me@markski.ar">me@markski.ar</a></small></p>
        </footer>
    </body>
</html>
<script src="./dependencies/htmx.js"></script>