body {
    background-color: #222222;
    color: #EEEEEE;
}

h1 {
    color: #DDDDDD;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #44AAFF;
}

a:active {
    color: #335599;
}

.field_input {
    color: #DDDDDD;
    background-color: #111111;
    border: 1px solid black;
}

.text_input {
    color: #DDDDDD;
    background-color: #111111;
    border: 1px solid black;
}

.button {
    color: #DDDDDD;
    border: 1px solid black;
    background-color: #111111;
}

.button:hover {
    background-color: #222222;
}

.button:active {
    background-color: #333333;
}

pre, code {
    background-color: #444444;
}

.light_text {
    color: #999999;
}