/* Globals */

body {
    background-color: #EEEEEE;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.1rem;
    line-height: 1.3;
    margin: 0;
}

/* Body */

header {
    width: 70rem;
    max-width: 90%;
    margin: auto;
    top: 0;
    border-bottom: 1px solid #AAAAAA;
}

main {
    width: 50rem;
    max-width: 90%;
    margin: 2rem auto auto;
}

footer {
    width: 30rem;
    max-width: 90%;
    text-align: center;
    margin: 7.5rem auto .5rem;
    border-top: 1px solid #CCCCCC;
}

a {
    color: black;
}

a:hover {
    color: #224488;
}

a:active {
    color: #4477AA;
}

hr {
    border: 0;
    border-bottom: 1px solid #999999;
    margin: 1.25rem auto;
}

code, pre {
    background: #DDDDDD;
    padding: 0.2rem;
}

/* Classes */

.field_input {
    border: 1px black solid;
    padding: 0.5rem;
    width: 12rem;
    max-width: 95%;
    margin-bottom: 0.5rem;
}

.text_input {
    padding: .5rem;
    border: 1px black solid;
    width: 40rem;
    max-width: 95%;
    height: 15rem;
    margin: auto auto 2rem;
}

.button {
    border: 1px black solid;
    border-radius: 0;
    padding: .75rem 1.2rem;
    background-color: #EEEEEE;
}

.button:hover {
    background-color: #DDDDDD;
}

.button:active {
    background-color: #BBBBBB;
}

.radiobtn {
    margin: 0 .5rem;
}

.document_content {
    word-wrap: break-word;
}

.listed_post {
    width: 100%;
    padding: .1rem 1rem;
    margin-bottom: 1rem;
    background-color: #00000033;
}

.light_text {
    color: #444444;
}

/* Animate */

.opacity-trans{
    opacity:1;
    transition: opacity 175ms ease-in;
}
.htmx-request .opacity-trans{
    opacity:0.1
}
.htmx-request.opacity-trans{
    opacity:0.1
}