<!DOCTYPE html>
<html lang="en">
    <head>
        <title><!-- %%% SITE_TITLE %%% --> - writar</title>

        <link rel="stylesheet" type="text/css" href="template/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <a href="index.php" style="text-decoration: none"><h1>writar</h1></a>
            <!-- %%% SITE_USER_INFO %%% -->
        </header>
        <main>
            <!-- %%% SITE_CONTENT %%% -->
        </main>
        <footer>
            <p>2023 - markski</p>
            <p>contact, abuse report, etc: me@markski.ar</p>
            <small>uses <a href="https://htmx.org">htmx</a> for presentation and <a href="https://github.com/erusev/parsedown">parsedown</a> for markdown support.</small>
        </footer>
    </body>
</html>
<script src="./dependencies/htmx.js"></script>