<!DOCTYPE html>
<html lang="en">
    <head>
        <title><!-- %%% SITE_TITLE %%% --> - writar</title>

        <link rel="stylesheet" type="text/css" href="template/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h1>writar</h1>
            <!-- %%% SITE_USER_INFO %%% -->
        </header>
        <main>
            <!-- %%% SITE_CONTENT %%% -->
        </main>
        <footer>
            <p>2023 - markski</p>
            <p>contact, abuse report, etc: me@markski.ar</p>
        </footer>
    </body>
</html>